  body {
   background: #fdf5db;
   border: 1px solid #444;
    margin: 20;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #white;
    color: #222;
  }
  h1, h2 {
    text-align: center;
    font-size: 20px;
    }
  hr {
   border: none;          /* poistaa oletusreunan */
    border-bottom: 1px solid #444; /* tekee viivan */
    margin: 20px 0;        /* lis채채 tilaa yl채- ja alapuolelle */
}
 .sivu {
  display: none;                  /* oletuksena piilossa */
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 2.8s cubic-bezier(0.25, 1, 0.5, 1),
            transform 2.8s cubic-bezier(0.25, 1, 0.5, 1);
}
 .sivu.in {
  display: block;                 /* n채kyviin kun aktiivinen */
  opacity: 1;
  transform: translateY(0);
  }
  #lomake {
    background: #fdf5db;
    padding: 26px;
    border-radius: 0px;
    /*box-shadow: 0 4px 12px rgba(0,0,0,.08);*/
  }
  .row {
    margin-bottom: 10px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  select {
   background: #fdf5db;
       box-shadow: 0 4px 12px rgba(0,0,0,.08);
    padding: 26px;
    width: 80%;
    padding: 1px;
    font-size: 14px;
    border: 1px solid #fdf5db;
  }
  .actions {
    text-align: center;
    margin-top: 20px;
  }
  button {
    padding: 10px 16px;
    background: #fdf5db;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    border-radius: 6px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    }
    .tekstilinja {
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between; /* vasen ja oikea reuna */
    align-items: center;
    font-size: 10px;
    margin: 0px 10;
    padding: 0 1%;
  }
  #kompassiWrapper {
    text-align: center;
    margin: 20px auto;
  }
  svg {
    width: 260px;
    height: 260px;
  }
  .tuloslista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .tulos {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
  }
  .badge {
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
  }
  .low { background: #ffcccc; color: #b00020; }
  .mid { background: #fff4cc; color: #a35a00; }
  .high { background: #ccffd7; color: #066b10; }