@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} 
 body {
   background: #fff;
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    display: flex;
    justify-content: center;
  }
.container {
  width: 100%;
  height: 100%;
  max-width: 900px; /* voit säätää esim. 600–800 px */
  min-height: 1000px;
  background: #fdf5db;
  border: 1px solid #444;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
}
.container > * {
  padding: 0 20px;
}

/* Pienemmillä näytöillä (puhelin) käytetään koko leveyttä 
@media (max-width: 4000px) {
  .container {
    border-radius: 0;
    padding: 0px;
  }
*/
}
  h1, h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    }
  hr {
   border: none;          /* poistaa oletusreunan */
    border-bottom: 1px solid #444; /* tekee viivan */
    margin: 20px 0;        /* lisää tilaa ylä- ja alapuolelle */
    badding: 0px;
}
 .sivu {
  display: none;                  /* oletuksena piilossa */
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 2.8s cubic-bezier(0.25, 1, 0.5, 1),
            transform 2.8s cubic-bezier(0.25, 1, 0.5, 1);
}
 .sivu.in {
  display: block;                 /* näkyviin kun aktiivinen */
  opacity: 1;
  transform: translateY(0);
  }
  #lomake {
    background: #fdf5db;
    padding: 26px;
    border-radius: 0px;
    /*box-shadow: 0 4px 12px rgba(0,0,0,.08);*/
  }
  .row {
    margin-bottom: 10px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  select {
   background: #fdf5db;
   box-shadow: 0 4px 12px rgba(0,0,0,.08);
    padding: 26px;
    width: 80%;
    padding: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid #fdf5db;
  }
  .actions {
    text-align: center;
    margin-top: 20px;
  }
  button {
    padding: 10px 16px;
    background: #fdf5db;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    border-radius: 6px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    }

.rivi {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border-top: 1px solid #444; /* tekee viivan */
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* vasen - kuva - oikea */
  align-items: center;                  /* keskittää pystysuunnassa */
  column-gap: 10px;                     /* väli kuvasta ja teksteistä */
 padding: 0 40px;
}
.vasen {

  justify-self: start;
  text-align: left;
}
.oikea {
  justify-self: end;
  text-align: right;
}

.keskikuva {
  width: 100px;  /* haluttu kuvan koko */
  height: auto;
  justify-self: center; /* pysyy keskellä, ei veny */
}
.tekstilinja {
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between; /* vasen ja oikea reuna */
    align-items: center;
    font-size: 12px;
    border: none;          /* poistaa oletusreunan */
    border-top: 1px solid #444; /* tekee viivan */
    margin: 0px;
    padding: 0 1%;
  }
  #kompassiWrapper {
    text-align: center;
    margin: 20px auto;
  }
  svg {
    width: 260px;
    height: 260px;
  }
  .tuloslista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .tulos {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
  }
  .badge {
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
  }
  .low { background: #ffcccc; color: #b00020; }
  .mid { background: #fff4cc; color: #a35a00; }
  .high { background: #ccffd7; color: #066b10; }












